.main {
    padding: 1em;
    min-height: 90dvh;
    max-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    gap: 1rem;
}
.hideSideBar{
    transform: translateX(100%);
}
.adminForm {
    margin-inline: auto;
    margin-top: 10rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    border: 2px solid white;
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
}
.adminForm input {
    font-size: 2rem;
    border: none;
    border-radius: 16px;
    padding: 0.3rem 1rem
}
#menuBtn {
    cursor: pointer;

}
#sideBarMenu {
    padding: 1em 2em;
    background-color: var(--dark-red);
    right: 0;
    z-index: 1;
    top: 3.5rem;
    min-height: calc(100dvh - 3.5rem);
    place-self: end;
    display: flex;
    gap: 1.5em;
    position: fixed;
    flex-flow: column nowrap;
    align-items: center;
    transition: transform 500ms ease-out;
}
.sideBarHide{
    transform: translateX(100%);
}
#sideBarMenu h1 {
    font-size: 4rem;
}
#sideBarMenu  {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
#sideBarMenu a:hover {
    text-decoration: none !important;
}
.selected {
    background-color: var(--light-red);
}
#sideBarMenu:first-child {
    margin-bottom: 2rem;
}
#sideBarMenu a {
    display: block;
    user-select: none;
    padding: 0.3em 0.5em;
    font-size: 2rem;
    cursor: pointer;
    transition-delay:   box-shadow 300ms, 
                        background 100ms;
    transition: background 200ms ease, 
                box-shadow 300ms ease-out,
                transform 200ms ease-out,
                opacity 300ms ease;
}
#sideBarMenu li:not(.selected):hover {
    background-color: var(--light-red);
    box-shadow: 5px 6px gray;
    transform: translate(-5px, -6px);
}
#sideBarMenu li:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}
#sideBarMenu:has(li:not(.selected):hover) li:not(:hover) {
    opacity: 0.5;
}
.carrousselAdminPanel {
    border: 2px solid white;
    border-radius: 16px;
    overflow: hidden;
}
.carrousselForm {
    background-color: var(--red);
    padding: 1em 2em;
    z-index: -1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
}

.bannerDesc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.bannerDesc input {
    color: black;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    border: none;
}
.carrousselForm button {
    width: fit-content;

}
.preview {
    background-color: var(--dark-red);
    display: grid;
    place-items: center;
    font-size: 5rem;
    min-width: 800px;
    min-height: 300px;

}
.preview:hover {
    background-color: var(--light-red);
    box-shadow: 0px 0px 8px 2px var(--secondary-color);
}
.preview img {
    object-fit: fill;
    object-position: center;
    max-width: 700px;
    max-height: 300px;
}
.preview i {
    color: white;
}
.currentCarroussel {
    background-color: var(--red);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    gap: 0.4em;
}
.banner-delete {
    position: absolute;
    font-size: 6rem;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    opacity: 0.9;
}
.currentImg{
    background-color: var(--dark-red);
    width: 800px;
    height: 400px;
    display: grid;
    position: relative;
    user-select: none;
    place-items: center;
}
.currentImg img {
    max-width: 100%;
    max-height: 400px;
    object-fit: scale-down;
    object-position: center;
    cursor: pointer;
}
.allImgs {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.3em;
}
.allImgs img {
    width: 150px;
    object-fit: scale-down;
}
#deleteBtn {
    position:absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.productsForms {
    display: flex;
    align-items: center;
    background-color: var(--red);
    border-radius: 16px;
    border: 2px solid white;
    gap: 1em;
}
.productsForms .rightSide {
    display: grid;
    gap: 1em;
    border-left: 2px solid white;
}
.productForm {
    display: grid;
    border-radius: 16px;
    grid-template-columns: 2fr 1fr;
    width: 60dvw;
    min-width: fit-content;
    min-height: fit-content;
    gap: 0.8em;
    padding: 1em 2em;
    background-color: var(--red);
    position: relative;
}
.productForm i {
    color: white;
}
.productForm .category {
    width: 100%;
}
.productForm span {
    position: absolute;
    
}
.productForm-inputs {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}
.productForm-inputs .amountDiv {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
}
.buttonsDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.productForm-inputs div label{
    min-width: 100%;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
}
.productForm-inputs input[type="number"]{
    width: 4rem;

}
.productForm-inputs input, .productForm-inputs textarea{
    font-size: 1.5rem;
    color: black;
    resize: vertical;
}
.productForm-inputs select {
    color: black;
    min-width: fit-content;
    padding: 0.3rem, 0.5rem;
    width: 70%;
    margin-left: 15%;
    font-size: 1.5rem;
}
.productForm-inputs option {
    color: black;
    
}
.productImages {
    gap: 0.5em;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: fit-content;
    text-align: center;
}
.productImages img {
    aspect-ratio: 1/1;
    cursor: pointer;
    max-width: 100%;;
}
.imgTopIndex {
    z-index: 5;
}
.imgsLabel {
    display: grid;
    place-items: center;
    width: calc(50% - 1em);
    position: relative;
    aspect-ratio: 1/1;
    background-color: var(--dark-red);
    cursor: pointer;
    font-size: 2rem;
    color: black;
}   
.imgsLabel span {
    display: grid;
    width: 100%;
    aspect-ratio: 1/1;
    place-items: center;
}

.productVariantForm {
    display: flex;
    width: min(object-fit, 50dvw);
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.4em;
    padding: 1em 2em;
    background-color: var(--red);
}
.productVariantForm i {
    color: white;
}
.productVariantForm input, 
.productVariantForm select, 
.productVariantForm option {
    font-size: 1.5rem;

}
.add-sub-div {
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    gap: 0.5em;
    background: none;
	border: none;
	cursor: pointer;
    padding: 0.3em 1em; 
    color: white;
}
.colorLabel {
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.colorLabel input[type="color"] {
    width: 100px;
}
.colorLabel input[type="text"] {

    width: 50%;
}
.variantOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    min-width: 100%;
    font-size: 1.3rem;
    position: relative;
}
.trash{
    position: absolute;
    top: 0.3em;
    right: 0.5em;
}
.variantOptions p {
    width: fit-content;
}
.variantOptions input {
    width: 60%;
}

.selectDiv{
    width: 100%;
    font-size: 1.5rem;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    align-items: center;
}
.selectDiv select {
    color: black !important;
}
.selectDiv div:is(#parentMainMenu){
    width: 100%;
    display: grid;
    place-items: center;
}
.productList{
    width: 100%;
}
.pagination {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.pagination li:not(.current-page){
    
}
.pagination li.current-page {
    color: gray

}
.productList thead{
    background-color: var(--secondary-color);
}
.productList tbody tr:hover{
    background-color: var(--light-red);
}
.productList tbody {
    background-color: var(--red);
    cursor: pointer;
}
.productList tr, 
.productList th{
    user-select: none;
    border: 2px solid black;
    padding: 0.4em 1em;
    font-size: 2rem;
}
.productList th:has(input){
    display: flex;
    flex-direction: row nowrap;
    gap: 0.5em;
    align-items: center;
}
.productList a {
    text-decoration: none;
    padding: none;
    border: none;
}
.productModal {
    overflow-y: auto;
    padding-top: 3rem;
    position: fixed;
    background-color: var(--light-red);
    height: calc(100vh - 3.5rem);
    top: 3.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.closeButton {
    position: absolute;
    top: 0.6rem;
    cursor: pointer;
    font-size: 3rem;
    left: 3rem;
}
.productModal h1{
    width: fit-content;
    text-align: center;
}
.productModal input{
    color: black;
    font-size: 1.4rem;
}
.productModalMain {
    display: grid;
    width: 70%;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--red);
}
.productCurrentImg{
    width: 400px;
    aspect-ratio: 1/1;
}
.productModalImages{
    display: flex;
    flex-flow: column nowrap;
    border-radius: 24px;
    align-items: center;
    overflow: hidden;
}
.productModalImages div {
    background-color: var(--dark-red);
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 0.3em;
}
.productModalImages div img {
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}
.productInfos{ 
    background-color: var(--light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    min-width: 100%;
    font-size: 2rem;
    gap: 0.5rem;
}
.productInfos label{
    border-radius: 16px;
    background-color: var(--red);
    display: flex;
    
    flex-flow: column nowrap;
    gap: 0.3rem;
    justify-content: center;
    height: fit-content;
    padding: 0.5rem 0.8rem;
}
.productInfos select,
.productInfos option{
    color: black;
    font-size: 1.5rem;
}
.productInfos label:has(textarea){
    width: 70%;
}
.productInfos textarea{
    color: black;

    font-size: 1.4rem;
}

.tableHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0.6em 0;
    border: 3px double black;
    border-bottom: transparent;
    background-color: var(--red);
}
.delForm{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
#productTable{
    width: 70%;
    color: white;
    border: 2px solid;
    margin-inline: auto;
    margin-top: 3rem;
}
#productTable input[type="checkbox"] {
    width: 2em;
    cursor: pointer;
    height: 2em;
}
.removeAll,
.checkAll{
    font-size: 2.5rem;
    cursor:pointer;
}
.checkAll{
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    gap: 0.6em
}
.removeAll:hover, 
.removeAll:focus {
    text-decoration: underline;
}
.categoryForm {
    background-color: var(--red);    
    padding: 1em;
    height: 100%;
    border-top: 2px solid white;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7em;
    align-items: center;
}
.categoryForm select,
.categoryForm option,
.categoryForm optgroup,
.categoryForm input {
    color: black;
    font-size: 1.5rem;
    
}
.categoryForm .parentCategory {
    width: 100%;
}
.categoryDropMenu {
    position: relative;
    color: black !important;
    font-size: 1.5rem;
    user-select: none;
}
.categoryReset::before {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 1rem;
    cursor: pointer;
    right: -2.5rem;
}
.categoryDropMenu label{
    width: 100%;
    border: 2px solid black;
    display: flex !important;
    flex-flow: row nowrap;
    gap: 0.3em;
    padding: 0.3em 0.7em;
    background-color: whitesmoke;
    color: black;
    justify-content: center;
    align-items: center;
}
.categoryDropMenu h3 {
    color: black;
}
.categoryDropMenu :is(label) i::before{
    font-size: 1.3rem;
    color: black !important;
}
.categorySelected {
    background-color: gray !important;
}
.categoryMenu{
    top: 100%;
    left: 0;
    right: 0;
}

.updateTitle{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
    font-size: 1.5rem;
}
.updateTitle label {
    position: absolute;
    top: 0.7rem;
    right: 2rem;
}
.updateTitle i {
    font-size: 2rem;
}
.dimensions{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center ;
    width: fit-content;
    gap: 0.4rem;
    padding: 1rem 1rem;

}
.dimensions:has(button){
    justify-content: center;
}
.volume{
    background-color: var(--red);
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2rem;
}
.volume input {
    width: 5rem;
}