@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Secular+One&family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@300&display=swap");

[x-cloak] {
    display: none !important;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
}
body{
    overflow-x: hidden;
}

:root {
    --bg-color: #1c0113;
    --dark-red: #6b0103;
    --red: #a30006;
    --light-red: #c21a01;
    --secondary-color: #ed254e;
    --FF-source-sans: "Source Sans Pro", sans-serif;
    --FF-secular-one: "Secular One", sans-serif;
    --FF-lilita-one: "Lilita One", cursive;
    --gradient-1: linear-gradient(
        to right top,
        #cc542c,
        #c44924,
        #bd3d1d,
        #b53016,
        #ad210f,
        #a01516,
        #93091a,
        #85001d,
        #6b0023,
        #4f0524,
        #33081e,
        #1c0113
    );
}
body {
    background-color: var(--bg-color);
}
.inline {
    margin-inline: auto
}
.border {
    border: 2px solid;
}
.scrollLock {
    overflow-y: hidden !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    color: white;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: var(--red);
    height: 3.5rem;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.3em 1em;
    position: sticky;
    box-shadow: 0px 4px var(--light-red), 0px 6px 5px var(--light-red);
}
#header .right {
    min-width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3em;
}
#header .right a:hover {
    text-decoration: underline;
}
#header .right div,
#header .right span {
    min-height: 100%;
    display: grid;
    place-items: center;
}
#header .left {
    display: flex;
    gap: 0.7em;
}
#header a {
    color: white;
    padding: 0.3em 0.6em;
    text-decoration: none;
    position: relative;
    display: grid;
    place-items: center;
    z-index: 1;
}
#header .icon{
    width: 40px;
    height: 40px;
}
.search{
    min-height: 100%;
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.8em;
}
.search input {
    font-size: 1.5rem;
    color: black;
    padding: 0.3em 1em;
    height: 1.8rem;
    border: none;
    background-color: white;
    border-radius: 16px;
    transform-origin: right;
    transition: transform 400ms ease-out;
}
.hideSearchBar {
    transform: scaleX(0);
}
.zindex10 {
    z-index: 10;
}

.current-page span {
    color: gray !important;
}
.disabled {
    display: none !important;
}
.passwordDiv {
    display: grid;
    place-items: center;
    width: fit-content;
    position: relative;
}
.checkbox {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}
.hidden {
    display: none !important;
}
.btn-1 {
    padding: 0.2em 1em;
    user-select: none;
    width: fit-content;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 16px;
    color: white;
    border: 2px solid white;
    background-color: var(--secondary-color);
    font-family: var(--FF-lilita-one);
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black,
        -1px 1px 0px black;
}
.btn-2 {
    padding: 0.2em 1em;
    user-select: none;
    width: fit-content;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 16px;
    border: 2px solid white;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black,
        -1px 1px 0px black;
    color: white;
    background-color: transparent;
    font-family: var(--FF-lilita-one);
}
.btn-link {
    text-decoration: none !important;
    text-align: center;
}
.btn-1:hover,
.btn-2:hover {
    box-shadow: 0px 0px 8px 1px white;
}
.rowDiv {
    display: flex;
    max-width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.hoverEffect-1::before {
    background-image: var(--gradient-1);
    transition: transform 300ms ease;
    position: absolute;
    inset: 0;
    display: block;
    content: "";
    top: 0;
    background-repeat: repeat;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    left: 0;
    transition-delay: 200ms;
}

.hoverEffect-1:hover::before {
    transform: scaleX(1);
}
.alignContentCenterScreen {
    min-width: 100%;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.registerForm {
    border-radius: 16px;
    min-width: fit-content;
    width: 60vw;
    max-width: 70vw;
    margin-inline: auto;
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;

    gap: 1rem;
}
.adressInputs,
.userInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 16px;
    padding: 2rem;
    border: 2px solid white;
    background-color: var(--light-red);
}
.streetDiv {
    grid-column: span 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    border-radius: 16px;
    overflow: hidden;
}
.street,
.number {
    border: none;
    border-radius: 0px !important;
}
.number {
    background-color: lightgray;
    border-left: 2px solid var(--light-red) !important;
}
.inputIcon {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: 1.3rem;
    color: black !important;
}
.userInputs input {
    border: none;
}
.adressInputs select,
.userInputs input,
.adressInputs input,
.adressInputs option {
    width: 100%;
    color: black;
    border: none;
    padding: 0.3rem 0.8rem;
    font-size: 1.6rem;
}
.userInputs input,
.adressInputs input {
    border-radius: 16px;
}
.loginForm {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    gap: 0.8em;
    border: 2px double var(--secondary-color);
    border-radius: 16px;
    padding: 1em 1.4em;
    background-color: var(--dark-red);
}
.loginForm input {
    width: 300px;
    color: black;
    height: 2.5rem;
    border-radius: 16px;
    padding: 0.3em 1em;
    font-size: 1.3rem;
    margin-inline: auto;
    border: none;
}
.loginForm input:hover {
    background-color: lightgray;
}

.form-1 label {
    width: fit-content;
    margin-left: 2rem;
}

.form-1 div:has(button) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.invalidField {
    outline: 3px solid var(--secondary-color);
    outline-offset: 2px;
}

#modal {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgb(129, 129, 129, 0.6);
}

#modalContent {
    background-color: var(--light-red);
    display: flex;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 8px 2px var(--light-red);
    border-radius: 16px;
    flex-flow: column nowrap;
    width: fit-content;
    gap: 1em;
    height: fit-content;
    z-index: 11;
    padding: 1em 2em;
}
#modalContent div:has(button) {
    margin-inline: auto;
    display: flex;
    gap: 0.5em;
}

.spinning {
    animation: spinning linear infinite 2s;
}

.relative {
    position: relative;
}

.dropMenu {
    position: absolute;
    top: 2rem;
    width: fit-content;
    right: 100%;
}
.flex-column {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}
.dimTable{
    border: 1px solid white;

}
.dimTable tbody,
.dimTable thead {
    border: 2px solid white;
}
.dimTable tbody th,
.dimTable thead th {
    font-size: 1.5rem;
    padding: 0.4em 0.7em;
}
.loginPage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2em;
    padding-top: 10rem;
    height: calc(100dvh - 3.5rem);
}
.loginMessage{
    background-color: var(--red);
    border: 2px solid white;
    color: white;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 0.5em 1em;
}
.loginMessage a:link,
.loginMessage a {
    color: var(--secondary-color);
}
.accessDenied {
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
    height: 100dvh;
}
.accessDenied a,
.accessDenied a:link {
    font-weight: 16px;
    color: var(--secondary-color);
}
.accessDenied section {
    background-color: var(--red);
    padding: 1em 2em;
    border-radius: 16px;
    color: white;
    border: 2px solid;
}
.accessDenied p {
    font-size: 2rem;
}
.accessDenied h2 {
    font-size: 2.5rem;
}
#menuBtn {
    cursor: pointer;

}
#sideBarMenu {
    padding: 1em 2em;
    background-color: var(--dark-red);
    right: 0;
    z-index: 1;
    top: 3.5rem;
    min-height: calc(100dvh - 3.5rem);
    place-self: end;
    display: flex;
    gap: 1.5em;
    position: fixed;
    flex-flow: column nowrap;
    align-items: center;
    transition: transform 500ms ease-out;
}
.sideBarHide{
    transform: translateX(100%);
}
#sideBarMenu h1 {
    font-size: 4rem;
}
#sideBarMenu  {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
#sideBarMenu a:hover {
    text-decoration: none !important;
}
.selected {
    background-color: var(--light-red);
}
#sideBarMenu:first-child {
    margin-bottom: 2rem;
}
#sideBarMenu a {
    display: block;
    user-select: none;
    padding: 0.3em 0.5em;
    font-size: 2rem;
    cursor: pointer;
    transition-delay:   box-shadow 300ms, 
                        background 100ms;
    transition: background 200ms ease, 
                box-shadow 300ms ease-out,
                transform 200ms ease-out,
                opacity 300ms ease;
}
#sideBarMenu li:not(.selected):hover {
    background-color: var(--light-red);
    box-shadow: 5px 6px gray;
    transform: translate(-5px, -6px);
}
#sideBarMenu li:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}
#sideBarMenu:has(li:not(.selected):hover) li:not(:hover) {
    opacity: 0.5;
}
