@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Secular+One&family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@300&display=swap');

[x-cloak] { display: none !important; }

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
*:focus {
    outline: 5px solid var(--orange);
}

:root {
    --bg-color: #1c0113;
    --dark-red: #6b0103;
    --red: #a30006;
    --light-red: #c21a01;
    --orange: #cc542c;
    --FF-source-sans: 'Source Sans Pro', sans-serif;
    --FF-secular-one: 'Secular One', sans-serif;
    --FF-lilita-one: 'Lilita One', cursive;
    --gradient-1: linear-gradient(to right top, #cc542c, #c44924, #bd3d1d, #b53016, #ad210f, #a01516, #93091a, #85001d, #6b0023, #4f0524, #33081e, #1c0113);

}
body {
    background-color: var(--bg-color);
}

#header {
    display: grid;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    grid-template-columns: auto 1fr;
    background-color: var(--red);
    height: 3.5rem;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.3em 1em;
    position: sticky;
    box-shadow: 0px 4px var(--light-red),
    0px 6px 5px var(--light-red)
}
#header .right {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}
#header .right a:hover {
    text-decoration: underline;
}
#header .left {
    display: flex;
    gap: 0.7em;
}
#header a {
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.pagination{
    display: flex;
    gap: 0.5em;
    user-select: none;
    background-color: var(--light-red);
    border:2px solid black;
    color: white;
    list-style: none;
    width: fit-content;
    margin-inline: auto;
    font-size: 2rem;

}
.current-page span {
    color: gray !important
}
.pagination a {
    padding: 0.3em 0.3em;
    text-decoration: none;
}
.disabled {
    display: none !important;
}
.passwordDiv {
    display: grid;
    place-items: center;
    width: fit-content;
    position: relative;

}
.checkbox {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}
.hidden {
    display: none;
    visibility: hidden;
}

.btn-1 {
    padding: 0.2em 1em;
    user-select: none;
    width: fit-content;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 24px 0;
    border: none;
    text-shadow: 1px 1px 0px black,
                -1px -1px 0px black,
                1px -1px 0px black,
                -1px 1px 0px black;
    color: white;
    background-color: var(--light-red);
    font-family: var(--FF-lilita-one);
}
.btn-link {
    text-decoration: none;
    text-align: center;
}
.btn-1:hover {
    box-shadow: 5px 5px 8px rgb(0 0 0 /0.6),
                0px 0px 5px 1px rgb(0 0 0 /0.4)
}

.hoverEffect-1::before {
    background-image: var(--gradient-1);
    position: absolute;
    inset: 0;
    display: block;
    content: "";
    top: 0;
    background-repeat: repeat;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease;
    left: 0;
    transition-delay: 200ms;
}

.hoverEffect-1:hover::before {
    transform: scaleX(1);

}
.alignContentCenterScreen {
    min-width: 100%;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.form-1 {
    display: flex;
    flex-flow: column nowrap;
    min-width: fit-content;
    gap: 0.8em;
    border-radius: 16px;
    padding: 2em 1em;
    background-color: var(--orange);
}
.form-1 input {
    width: 300px;
    color: black;
    height: 2.5rem;
    border-radius: 16px;
    padding: 0.3em 1em;
    font-size: 1.5rem;
    margin-inline: auto;
    border: none;
}
.form-1 input:hover {
    background-color: lightgray;
}

.form-1 label {
    width: fit-content;
    margin-left: 2rem;
}

.form-1 div:not(.passwordDiv) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.invalidField {
    outline: 3px solid red;
    outline-offset: 2px ;
}

#modal {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgb(129, 129, 129, 0.6);
}

#modalContent {
    background-color: var(--light-red);
    display: flex;
    box-shadow: 0px 0px 8px 2px var(--light-red);
    border-radius: 16px;
    flex-flow: column nowrap;
    width: fit-content;
    gap: 1em;
    height: fit-content;
    z-index: 11;
    padding: 1em 2em;

}
#modalContent div:has(button) {
    margin-inline: auto;
    display: flex;
    gap: 0.5em;
}

.spinning {
    animation: spinning linear infinite 2s;
}

.dropDown {
    position: relative;
}

.dropMenu {
    position: absolute;
    top: 2rem;
    width: fit-content;
    right: 100%;
}



@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
