main {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    padding-top: 2em;
    align-items: center;
}

h1 {
    width: 100%;
    padding: 0.3em;
    font-size: 3rem;
    text-align: center;
    background-color: var(--red);
    color: white;
}
.mainContent {
    background-color: var(--light-red);
    width: 100%;
    gap: 1em;
    padding: 1em;
    height: 600px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
}
.productImages {
    background-color: var(--red);
    gap: 0.5em;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    height: 550px;
}
.productImages > img {
    height: 550px;
    width: 550px ;
    object-fit: cover;
    object-position: center;
}
.imgList {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

}
.imgList > img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    height: calc(100% / 4);
}
.mainInfos {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8em;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
}
.mainInfos > div:has(button){
    gap: 1em;
    display: flex;
    flex-flow: row nowrap;
    margin-top: auto;
}
.mainInfos input[type='number']{
    font-size: 1.5rem;
    width: 3rem;
    height: 2rem;
}
.mainInfos h1 {
    background-color: transparent;
}
.price{
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
}
.price > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2em;
}
.price span{
    font-size: 1rem;
}
.amount{
    display: flex;
    width: 100%;
    justify-content: space-evenly;    
}
.productVariants {
    user-select: none;
    display: flex;
    color: white;
    gap: 1em;
    flex-flow: column nowrap;
    padding: 0.5em 1em;
    width: fit-content;
    background-color: var(--red);
}
.productVariants h2 {
    width: fit-content;
}
.productVariants > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8em;
    justify-content: space-around;
}
.productVariants span {
    padding: 0.3em 0.6em;
    font-size: 1.5rem;
    cursor: pointer;
}
.selected,
.productVariants span:hover{
    outline: 2px solid var(--secondary-color);
}

.productDetails{
    padding: 3rem 7rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    background-color: var(--light-red);
}
.productDetails div {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--red);
    padding: 1em;
    gap: 1.5em
}
.productDetails h2{ 
    font-size: 3rem;
    text-decoration: underline;

}
.productDetails p {
    font-size: 1.5rem;
    width: 80%;
    margin-inline: auto;
}
.dimTable{
    margin-left: 6rem
}
.dimTable th{
    background-color: var(--light-red);

}

.features > div {
    border-bottom: 1px solid white;
    padding: 0.5em 1em;
    width: 80%;
    margin-inline: auto;
}
.features h3{
    font-size: 1.8rem;
}
.featuresList{
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.5rem;
    gap: 0.3em
}